{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "exclude": ["transform-dynamic-import"]
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "allowDeclareFields": true }],
    "add-module-exports",
    "lodash",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-async-to-generator",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
