{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "exclude": [
          "proposal-dynamic-import"
        ]
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "allowDeclareFields": true
      }
    ],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
