{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "allowDeclareFields": true
      }
    ],
    "add-module-exports",
    "@babel/plugin-proposal-class-properties",
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
