{{#if erratum}}
<div style="background-color: #FFF3CD; border: 2px solid #FFC107; border-radius: 4px; padding: 15px; margin: 20px 0; color: #856404;">
  <h2 style="margin-top: 0; color: #856404; font-size: 18px;">Erratum</h2>
  <div style="color: #856404; font-size: 14px; line-height: 20px;">{{{erratum}}}</div>
</div>
{{/if}}
