Subject: Fiscal Host Activated — Welcome!

{{> header}}

<p>{{> greeting}}</p>

<p>I’m Pía, co-founder of Open Collective. Thank you for becoming a Fiscal Host, a company or individual who holds funds for Collectives. It’s a great way to help your community be sustainable.</p>

<h3>Pricing</h3>
<p>
Our mission is to help your Collectives thrive, so we don't charge any Platform Fees to them directly. Contributors to Collectives can optionally donate to Open Collective at checkout (we call this Platform Tips). If you don't charge any Host Fees to your Collectives, we won't charge you either.
<p>
If you charge Host Fees, we have a shared revenue model where we charge 15% of Host Fees as our Platform Fee. For example, if your Host Fee is 10% and your Collectives bring in $1,000, you take $100 as your Host Fee, and from that you’ll pay a $15 Platform Fee.
<a href="https://opencollective.com/pricing">Learn more</a>.
Contributions made to your Collectives via credit card (through Stripe) or or other third party tools may incur in payment processor fees.
</p>

<h3>Useful info</h3>
<ul>
  <li>How to use <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-dashboard">the Host Dashboard</a>. Your one-stop-shop for all Host functionality</li>
  <li><a href="https://docs.opencollective.com/help/fiscal-hosts/become-a-fiscal-host#things-to-consider-when-becoming-a-host">Some things to consider</a> when becoming a Host</li>
  <li>Our <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-hosts">Host FAQ</a></li>
  <li>How to <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-fees">set your Host Fee</a> (what you charge Collectives)</li>
</ul>

<p>You're also welcome to <a href="https://slack.opencollective.com">join our Slack</a> and jump into the #hosts channel.

<p>We want to help your community thrive! Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://slack.opencollective.com">Slack</a>.</p>

<p>Best,</p>

<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
