Subject: Independent Collective Activated — Welcome!

{{> header}}

<p>Hi {{collective.name}} 👋</p>

<p>You've activated your Independent Collective and you're ready to start receiving contributions. That's great! Here are some useful tips to help you get started.</p>

<ul>
<li><a href="https://docs.opencollective.com/help/independent-collectives/set-up-independent-collective">Get set up:</a> Ensure receipts get correctly generated with your entity info, and connect your Stripe and bank account.</li>
<li><a href="https://docs.opencollective.com/help/independent-collectives/manage-independent-collective/money-coming-in-contributions">Manage money coming in:</a> How to confirm pending bank transfers and add funds manually.</li>
<li><a href="https://docs.opencollective.com/help/independent-collectives/manage-independent-collective/money-going-out-expenses">Manage money going out:</a> All about expenses and payouts.
</ul>

<p>If you have questions, you're welcome to <a href="https://discord.opencollective.com">join our Discord</a> or check out the <a href="https://docs.opencollective.com">Open Collective documentation</a>.

<p>—the Open Collective Team</p>

{{> footer}}
