Subject: Fiscal Host Activated — Welcome!

{{> header}}

<p>{{> greeting}}</p>

<p>Congratulations! Your organization is now activated. Here's everything you need to get started.</p>

<h3>Get Started</h3>
<p>
Visit your <a href="https://opencollective.com/dashboard/{{collective.slug}}">Dashboard</a> and explore the platform. In your dashboard, you will find a checklist to guide you through the things you need to do to set up your account.
</p>

{{#unless collective.plan}}
<h3>Your Current Tier</h3>
<p>
You are currently on the <strong>Discover Tier</strong>. This grants you basic access to the platform and includes 1 active monthly collective and 10 expenses. Visit our <a href="https://opencollective.com/pricing">pricing page</a> to learn more about our tiers and plans. Visit your <a href="https://opencollective.com/dashboard/{{collective.slug}}/platform-subscription">platform payments page</a> to upgrade to a tier and a package that best suits your needs.
</p>
{{/unless}}

<h3>Essential Resources</h3>
<ul>
  <li><a href="https://documentation.opencollective.com/fiscal-hosts/fiscal-host-overview-dashboard">Host Dashboard Guide</a> — Your one-stop-shop for all Host functionality</li>
  <li><a href="https://documentation.opencollective.com/fiscal-hosts/setting-up-a-fiscal-host">Setting Up Your Fiscal Host</a> — Important considerations when becoming a Host</li>
  <li><a href="https://documentation.opencollective.com/fiscal-hosts/fiscal-hosts">Host FAQ</a> — Frequently asked questions</li>
  <li><a href="https://documentation.opencollective.com/fiscal-hosts/setting-up-a-fiscal-host/setting-your-fiscal-host-fees">Setting Host Fees</a> — How to set what you charge Collectives</li>
</ul>

<h3>Get Support</h3>
<p>
Join our <a href="https://discord.opencollective.com">Discord community</a> and connect to other fiscal hosts in the #hosts channel. Explore our <a href="https://documentation.opencollective.com">documentation</a> for detailed guides and best practices.
</p>

<p>Best,</p>

<p>The Open Collective Team</p>

{{> footer}}
