Subject: Host Activation

{{> header}}

<p>Hi!</p>

<p>I’m Pía, co-founder of Open Collective. Thank you for becoming a Fiscal Host. A Host is a company or an individual who holds funds on behalf of collectives. It’s a great way to help your community be sustainable.</p>

<h3>Pricing</h3>
<p>
Our mission is to help your collectives thrive so we take no fees on donations to them (we rely on platfrom tips by donors.) We have a shared revenue model for hosts. If you don't charge any host fees for your service to your collectives, we won't charge you either. Once you start taking a fee from your collecives you will be on a shared revenue model and we will charge a 15% of your host fee. For example, if your host fee is 10% and your Collectives bring in $1,000 your take is $100 and from it you’ll pay $15 to the platform.
<a href="https://opencollective.com/pricing">Learn more</a>.
Contributions made to your Collectives via credit card (through Stripe) or PayPal may incur in payment processor fees.
</p>

<h3>Useful info</h3>
<ul>
  <li>How to use <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-dashboard">the host dashboard</a>. Your one-stop-shop for all host functionality</li>
  <li><a href="https://docs.opencollective.com/help/fiscal-hosts/become-a-fiscal-host#things-to-consider-when-becoming-a-host">Some things to consider</a> when becoming a host</li>
  <li>Our <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-hosts">Host FAQ</a></li>
  <li>How to <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-fees">set your host fee</a> (what you charge Collectives)</li>
</ul>

<p>We want to help your community thrive! Please feel free to reply to this email or <a href="http://calendly.com/piamancini/call">schedule a time to chat with me</a>.</p>

<p>Best,</p>

<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
