Subject: Host Activation

{{> header}}

<p>Hi!</p>

<p>I’m Pía, co-founder of Open Collective. Thank you for becoming a Fiscal Host. A Host is a company or an individual who holds funds on behalf of collectives. It’s a great way to help your community be sustainable.</p>

<h3>Pricing</h3>
<p>
  You are on the Starter Plan, which is free. You can receive bank transfers and add funds manually up to $1,000. After that, you’ll be prompted to go on a paid plan based on the number of Collectives you are hosting (<a href="https://opencollective.com/pricing">see plans</a>). Contributions made to your Collectives via credit card (through Stripe) incur a 5% platform fee, and do not count toward the $1,000 limit.
</p>

<h3>Useful info</h3>
<ul>
  <li>How to use <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-dashboard">the host dashboard</a>. Your one-stop-shop for all host functionality</li>
  <li><a href="https://docs.opencollective.com/help/fiscal-hosts/become-a-fiscal-host#things-to-consider-when-becoming-a-host">Some things to consider</a> when becoming a host</li>
  <li>Our <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-hosts">Host FAQ</a></li>
  <li>How to <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-fees">set your host fee</a> (what you charge Collectives)</li>
</ul>

<p>We want to help your community thrive! Please feel free to reply to this email or <a href="http://calendly.com/piamancini/call">schedule a time to chat with me</a>.</p>

<p>Best,</p>

<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
