Subject: Updated Terms of Service and Privacy Policy

{{> header}}

{{#if recipient.name}}
<p>Dear {{recipient.name}},</p>
{{else}}
<p>Hi!</p>
{{/if}}

<p>We have updated our <a href="https://opencollective.com/tos">Terms of Service</a> and <a href="https://opencollective.com/privacypolicy">Privacy Policy</a>.</p>

<p>Transparency is a core value of Open Collective, and that includes making legal documents not only available to see, but accessible to understand. We try our best to draft them in plain terms and make them as clear as possible.</p>

<p>If you have questions or suggestions, please don’t hesitate to contact us. </p>

<p>With ❤️,</p>

<p>– Open Collective Team</p>


{{> footer}}
