Subject: Welcome to Open Collective!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Thank you for applying to have your group hosted by <a href="https://opencollective.com/the-social-change-nest">The Social Change Nest</a>. Your page has been set up, but is <b>not yet live</b>.</p>

<p>The next step is to fill in <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOCn_6hC9SYR1ENZQx6WliGuwudYc53AO5YZ4dyQhMxCRiKQ/viewform?usp=sf_link">this form</a>. We require all groups to fill this in so that we can run our due diligence before setting your page up.</p>

<p>At the end of the form you'll see a link to book a 45 minute onboarding call with us. During this call, we will walk your admins through the platform and answer any questions you might have before going live.</p>

<p>We look forward to meeting you during onboarding! If you have any questions, please don’t hesitate to get in touch by emailing <a href="mailto:accountable@thesocialchangeagency.org">accountable@thesocialchangeagency.org</a> or have a look at our comprehensive <a href="https://docs.google.com/document/d/1zHArRkjHIstk8b_rMDhHGFnKLfWYCeVhLYLWHEEunlY/edit">FAQ’s</a>.</p>

<p>The next step is to book a <b>45 minute onboarding call</b> with us.  We’ll talk you through getting the page live. Book that in <a href="https://calendly.com/accountableonboarding">here</a>. If none of these times work for you, <a href="mailto:accountable@thesocialchangeagency.org">get in touch</a>.</p>

<p>All the best,</p>

<p>The Social Change Nest.</p>

{{> footer}}
