Subject: Welcome to Open Collective!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Thank you for getting in touch to find out more about setting up a collective with the <a href="https://opencollective.com/the-social-change-agency">The Social Change Agency</a> as your fiscal host. Your page has been set up, but is not yet live.</p>

<p>The next step is to book a 30 minute video chat with us.  We’ll talk you through getting the page live. Book that in <a href="https://calendly.com/scaopencollective/30min?month=2020-03">here</a>. If none of these times work for you, <a href="mailto:opencollective@thesocialchangeagency.org">get in touch</a>.</p>

<p><b>Before this call please make sure you have looked at the <a href="https://thesocialchangeagency.org/nest-supporting-new-movements/fiscal-hosting/">website</a> and read the <a href="https://docs.google.com/document/d/1zHArRkjHIstk8b_rMDhHGFnKLfWYCeVhLYLWHEEunlY/edit">FAQ’s</a>.</b></p>

<p><b>If you’ve already had the 30 minute video chat with us. There are three things left to do:</p>

<ol>
  <li>Add your expense policy to your Open Collective page.  This is your collective agreement on what money collected will be used for.</li>
  <li>Send the names and details of your three (or more) administrators to <a href="mailto:opencollective@thesocialchangeagency.org">opencollective@thesocialchangeagency.org</a></li>
  <li>Add The Social Change Agency number to your Whatsapp group - 07712872277</li>
</ol>

<p>Once this has been done, we’ll hit approve and make your page live. You can then start collecting donations and paying expenses.</p>

<p>If you have any questions, please don’t hesitate to get in touch by emailing <a href="mailto:opencollective@thesocialchangeagency.org">opencollective@thesocialchangeagency.org</a></p>

<p>All the best,</p>

<p>The Social Change Agency Team.</p>


{{> footer}}
