Subject: 🎉 Your Collective has been approved!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your application to join (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>) as your Fiscal Host has been approved!</p>

<p>Your Collective has been fully activated and you can now receive tax-deductible donations.</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue"><div>Get Started!</div></a>
  </center>
</p>

<p>We'd love to show you around!

<ul>
  <li><a href="https://www.loom.com/share/e7c8245251784196a6dde4f49cb3ab2a">Watch</a> an onboarding video about how everything works.</li>
  <li><a href="https://calendly.com/openmike/ocf-onb">Book</a> an onboarding call with our team.</li>
  <li><a href="https://docs.opencollective.foundation">Read</a> our documentation, which has answers to many frequently asked questions.</li>

  </p>

<p>We're so glad you're here. Welcome!</p>

<p>— the Open Collective Foundation Team</p>

{{> footer}}
