Subject: 🎉 Your Collective has been approved by The Social Change Nest

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your Collective has been approved by <a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>. You can now collect donations and pay out expenses.</p>

<p>You’ll receive email notifications from Open Collective when an expense needs approving, when conversations are started on your page, or events are added, so keep an eye out.</p>

<p>If you decide to change your administrators, please let us know by email at <a href="mailto:accountable@thesocialchangeagency.org">accountable@thesocialchangeagency.org</a>.</p>

<p>If you need to change or edit your page, now’s the time. Additional tips on customising your Collective are <a href="https://docs.opencollective.com/help/collectives/customize-collective">here</a>. </p>

<p>We’re here to help you, so do email us if you need further support.</p>

<p>All the best,</p>

<p>The Social Change Nest team</p>

{{> footer}}
