Subject: Your recurring expense for {{collective.name}} was drafted


{{> header}}

<center>
  <h1>
    Your recurring expense for {{collective.name}} was drafted
  </h1>
</center>

<p>
  A new draft for your "{{expense.description}}" recurring expense was created. You can now review, edit and submit
  it.
</p>

<br />
<br />

<center>
  <a href="{{inviteUrl}}" class="btn blue">
    <div>Review and Submit</div>
  </a>
</center>

{{> footer}}
