Subject: Getting started with Open Source Collective

{{> header}}

<p>Hey {{collective.name}} 👋,</p>

<p>
  Thanks for joining Open Source Collective (OSC), a nonprofit fiscal host supporting thousands of open source projects on the Open Collective platform. At OSC, we help manage your Collective's finances – holding funds, processing expenses, handling taxes, accounting, and more – so you can focus on your code and community.
</p>

<p>Here are a few actions to help get you started:</p>
<ul>
    <li>
      <a href="https://onboarding.oscollective.org/">Watch Our New Collective Onboarding Video</a>: 
      Get a quick overview of who we are, how the Open Collective platform works, the services we offer, and more.
    </li>
    <li>
      <strong>Get Your First Financial Contributors:</strong> 
      Reach out and ask your community to give you an initial boost. Share your Collective link on social media, your blog, or even raise an issue in your repo. Don’t hesitate to contact potential supporters, especially companies that already depend on your project.
    </li>
</ul>

<p>Some more helpful resources:</p>
<ul>
<li>Read <a href="https://blog.opencollective.com/ten-steps-to-successful-open-source-crowdfunding/">Ten Steps to Open Source Crowdfunding</a> and more case studies and how-tos <a href="https://blog.opencollective.com/">on our blog</a></li>
<li>Explore the <a href="https://docs.oscollective.org">OSC Documentation</a> for an overview of our fiscal hosting program.</li>
<li>Browse the <a href="https://documentation.opencollective.com">Open Collective Platform Documentation</a>.</li>
<li><a href="https://documentation.opencollective.com/collective-settings/github-sponsors">Connect GitHub Sponsors</a> to your Collective</li>
<li>Explore our <a href="https://opencollective.com/opensource/updates">monthly community updates</a> that we share on our Open Collective Updates page </li>
</ul>

<p>
    We’ll email you more tips over the next week. In the meantime, if you have any questions, feel free to <strong>email us</strong> at <a href="mailto:hello@oscollective.org">hello@oscollective.org</a> or join the conversation on <strong>Discord</strong> in the <a href="#">#open-source-collective</a> channel.
</p>
<p>Warmly,</p>
{{> opensourceSignature}}

{{> footer}}
