Subject: Getting started with Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>To help you get up and running, we’ll email you tips over the next week, then leave you to it. But you’re welcome to ask us questions any time.</p>

<p>Our top advice: Get your first financial contributors now! Reach out ask your community to give you an initial boost. Share your Collective link on social media, your blog, or raise an issue.
Don’t be afraid of contacting potential contributors, especially companies who already use your project.</p>

  <p>Some helpful info:</p>

  <ul>
   Some helpful info:

<ul>

<li><a href="https://slack.opencollective.com">Join our Slack</a></li>
<li>Check out case studies and how-to's<a href="https://blog.opencollective.com/">on our blog</a></li>
<li>Here’s our <a href="https://docs.opencollective.com">documentation</a>, including a <a href="https://docs.opencollective.com/help/collectives/quick-start-guide">quick start guide</a></li>
<li><a href"https://docs.opencollective.com/help/collectives/github-sponsors">Connect GitHub Sponsors</a> to your Collective (we also accept contributions in bitcoin and public stock!)</li>
 </ul>

  <p>Feel free to reply to this email if you have questions. We’re glad to have you with us!</p>

  <p>Best,</p>

  <p>The Open Collective Team</p>

  {{> footer}}
