Subject: Thanks for applying to {{{host.name}}}

{{> header}}

<div class="hidden">Your application to OCF is pending</div>

<p>Oh hey {{user.collective.name}} 👋 </p>
<p>Thank you for applying for {{> linkCollective collective=collective}} to be hosted by Open Collective Foundation.</p>
<p>We will get in contact with you if we have any questions. Application reviews can take about 2 weeks. 
In the meantime, <a href="https://docs.opencollective.foundation"> our documentation</a> 
has answers to many common questions.</p>

<p>Feel free to <a href="https://opencollective.com/{{host.slug}}/contact">contact</a> if you need to ask us anything.</p>

<p>– {{host.name}}</p>

{{> footer}}
