Subject: Fiscal Host Deactivated

{{> header}}

{{> greeting}}

<p>You have successfully deactivated {{collective.name}} as a Fiscal Host. It can no longer receive and disburse funds for Collectives. The Host Dashboard has also been deactivated.</p>

<p>If you want to reactivate this Fiscal Host, you can do so in <a href="https://opencollective.com/{{collective.slug}}/admin/fiscal-hosting">settings</a>, or <a href="mailto:support@opencollective.com">contact support</a>.</p>

{{> footer}}
