Subject: Money Management Deactivated

{{> header}}

<p>{{> greeting}}</p>

<p>You have successfully deactivated Money Management for {{collective.name}}. It can no longer receive expenses or contributions.</p>

<p>If you want to reactivate Money Management, you can do so in <a href="{{config.host.website}}/dashboard/{{collective.slug}}/advanced">advanced settings</a>, or <a href="mailto:support@opencollective.com">contact support</a>.</p>

{{> footer}}
