Subject: Host De-Activation

{{> header}}

<p>Hi,</p>

<p>You have successfully deactivated your host. Your profile is no longer able to manage a collective's budget (receive funds and pay for expenses). Your profile no longer has a host dashboard either.</p>

<p>If you think this was a mistake, please reactivate your host from the settings in your profile or contact <a href="mailto:support@opencollective.com">support@opencollective.com</a></p>

<p>Thank you!</p>

{{> footer}}
