Subject: Fiscal Host Deactivated

{{> header}}

<p>{{> greeting}}</p>

<p>You have successfully deactivated {{collective.name}} as a Fiscal Host. It can no longer receive and disburse funds for Collectives. The Host Dashboard has also been deactivated.</p>

<p>If you want to reactivate this Fiscal Host, you can do so in <a href="{{config.host.website}}/dashboard/{{collective.slug}}/fiscal-hosting">settings</a>, or <a href="mailto:support@opencollective.com">contact support</a>.</p>

{{> footer}}
