Subject: Thanks for applying to {{host.name}}

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Thank you for applying to the Open Collective Foundation for Fiscal Sponsorship. The Open Collective Foundation is a 501(c)3 and it provides compliance oversight, financial management, and other administrative services to help build the capacity of charitable projects. We can only Fiscal Sponsor funds that are aligned with our <a href="https://docs.opencollective.foundation/#who-is-eligible-to-apply">charitable mission</a>.</p>

<p>Please make sure you read our <a href="https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub">Terms of Fiscal Sponsorship</a> (we will send a copy for you to sign when approved).</p>

<p>We can only fiscally sponsor funds that are aligned with our charitable mission, so we will assess your application accordingly. This may take some time—we will reach out to you with additional information if needed.</p> 

<p>You may wish to review our <a href="https://docs.opencollective.foundation>FAQ about Funds</a>.</p>

<p>In the meantime, do not hesitate to contact us if you have any questions <a href="mailto:hello@opencollective.foundation">hello@opencollective.foundation</a>. We are here to help you succeed.</p>

<p>Best,<br>
Pia Mancini<br>
President<br>
Open Collective Foundation<br>
</p>

{{> footer}}
