Subject: Thanks for applying to {{host.name}}

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Thank you for applying to the Open Collective Foundation for Fiscal Sponsorship. We are a 501(c)(3) nonprofit that provides compliance oversight, financial management, tax deductible status, and other administrative services to help build the capacity of charitable projects.</p>

<p>Please make sure you read our <a href="https://docs.google.com/document/u/2/d/e/2PACX-1vQ_fs7IOojAHaMBKYtaJetlTXJZLnJ7flIWkwxUSQtTkWUMtwFYC2ssb-ooBnT-Ldl6wbVhNQiCkSms/pub">Terms of Fiscal Sponsorship</a> (we will send a copy for you to sign once your application has been approved).</p>

<p>We can only fiscally sponsor initiatives that are aligned with our <a href="https://docs.opencollective.foundation/getting-started/eligibility">eligibility criteria</a>, so we will assess your application accordingly. We will reach out to you if we need additional information. We strive to process applications within one week, but timing depends on your particular situation.</p>

<p>In the meantime, you may wish to visit our <a href="https://docs.opencollective.foundation">documentation</a>, <a href="https://opencollective.foundation">website</a>, or <a href="https://blog.opencollective.com/tag/foundation/">blog</a>. Do not hesitate to <a href="mailto:contact@opencollective.foundation">contact us</a> if you have any questions. We are here to help.</p>

<p>Best,<br>
Pia Mancini<br>
President<br>
Open Collective Foundation<br>
</p>

{{> footer}}
