Subject: 🎉 Your Fund has been approved!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your application for Fiscal Sponsorship has been approved by the Open Collective Foundation. You can now receive tax deductible financial contributions.</p>

<ul>
  <li>If you haven’t yet, you’ll receive a Fiscal Sponsorship agreement to sign.</li>
  <li>See these <a href="https://docs.opencollective.foundation/how-it-works/financial-contributions">instructions for donations</a> and other frequently asked questions.</li>
  <li>Read about the different <a href="https://docs.opencollective.foundation/what-we-offer">services</a> we offer.</li>
</ul>

<p>We are here to help your Fund succeed! Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://slack.opencollective.com">Slack</a>.</p>

<p>Best!</p>

<p>Pia Mancini.<br>
President,<br>
Open Collective Foundation</p>

{{> footer}}
