Subject: 🎉 Your Fund has been approved!

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Your application for Fiscal Sponsorship has been approved by the Open Collective Foundation. You can now receive tax deductible financial contributions.</p>

<ul>
  <li>If you haven’t yet you’ll receive a Fiscal Sponsorship agreement for your signature.</li>
  <li>See and download instructions <a href="https://docs.opencollective.foundation/how-to-send-money-to-your-fund">here on how your donors can send you donations as well as other frequently asked questions.</li>
  <li>Read about the different <a href="https://opencollective.foundation/#Services">services</a> we offer.</li>
</ul>

<p>We are here to make your fund succeed! Feel free to schedule a call with me <a href="https://calendly.com/piamancini/call">calendly.com/piamancini/call</a> if I can support in any way.</p>

<p>Best!</p>

<p>Pia Mancini.<br>
President,<br>
Open Collective Foundation</p>

{{> footer}}
