Subject: Plan reaches Limit

<style>
  .button {
    background: linear-gradient(rgb(24, 105, 245) 0%, rgb(22, 89, 225) 100%);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 10px 16px;
  }
</style>

{{> header}}

<p>Hello,</p>

<p>
  We hope you are well! {{name}} has reached the maximum number of collectives on the current plan. If you want to host more Collectives, please upgrade your plan. Please see below our plan options.
</p>

<p>
  <img src="{{config.host.website}}/static/images/pricing-table-screenshot.png" alt="Pricing table">
</p>

<p><center><a class="button" href="https://opencollective.com/pricing">Upgrade plan</a></center></p>

<p>Let us know if we can help out in any way by emailing <a href="mailto:support@opencollective.com">support@opencollective.com</a>.</p>

<p>Best,</p>
<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
