Subject: Plan Upgrade Confirmation

{{> header}}

<p>Congratulations! You have successfully upgraded your host, {{name}}, to the {{plan}} on Open Collective. You can host up to {{hostedCollectivesLimit}}. </p>

<p>Let us know if we can help out in any way by emailing <a href="mailto:support@opencollective.com">support@opencollective.com</a>.</p>

<p>Best,</p>
<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
