Subject: Plan Subscription Confirmation

{{> header}}

<p>Congratulations! You have successfully subscribed to the {{plan}} on Open Collective for your fiscal host, {{name}}. You can host up to {{hostedCollectivesLimit}} collectives.</p>

<p>You have access to:</p>

<ul>
  <li><a href="https://docs.opencollective.com/help/product/product">Collectives</a> - pages to coordinate community and budget for projects, groups, or chapters.</li>
  <li>Communication tools: <a href="https://docs.opencollective.com/help/collectives/communication">updates</a>, <a href="https://docs.opencollective.com/help/collectives/conversations">conversations</a>, and a <a href="https://docs.opencollective.com/help/collectives/communication#contacting-a-collective">contact form</a>.</li>
  <li>Show your budget and expenses <a href="https://docs.opencollective.com/help/collectives/budget">transparently</a>.</li>
  <li><a href="https://docs.opencollective.com/help/fiscal-hosts/create-a-fiscal-host">Fundraise</a> through credit card payments (cost: 5% plus Stripe payment processor fees).</li>
  <li>Manually <a href="https://docs.opencollective.com/help/fiscal-hosts/add-funds-manually">add funds raised through other channels</a> (e.g. payments you've invoiced, cash, or third party channels like a shop).
  </li>
  <li>Enable <a href="https://docs.opencollective.com/help/fiscal-hosts/bank-transfers">bank transfer payments</a>, which automatically provide financial contributors with wire instructions and a reference number for tracking.</li>
  <li>A <a href="https://docs.opencollective.com/help/fiscal-hosts/fiscal-host-dashboard">host dashboard</a> to easily manage budgets and expenses across all your Collectives, including one-click payouts via Paypal and Transferwise.</li>
</ul>

<p>Let us know if we can help out in any way by emailing <a href="mailto:">support@opencollective.com</a>.</p>
<p>Best,</p>
<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
