Subject: Host plan subscription renewal

{{> header}}

<p>Hi!</p>

<p>Your monthly subscription to the {{plan}} has been successfully processed.</p> 

<p>Thank you for enabling your community to thrive.</p>

L<p>Let us know if we can help out in any way by emailing <a href="mailto:support@opencollective.com">support@opencollective.com</a>.</p>

<p>Best,</p>
<p>Pía &amp; the Open Collective Team</p>

{{> footer}}