Subject: Plan reaches Limit

<style>
  .button {
    background: linear-gradient(rgb(24, 105, 245) 0%, rgb(22, 89, 225) 100%);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 5px 14px;
  }
</style>

{{> header}}

<p>Hello,</p>

<p>
  Your host, {{name}}, has reached the maximum number of Collectives for your plan on Open Collective. If you want to host more Collectives, please upgrade your plan.
</p>

<img src="{{config.host.website}}/static/images/pricing-table-screenshot.png" alt="Pricing table">

<p>Upgrade your plan now <a class="button" href="https://opencollective.com/pricing">Upgrade</a></p>

<p>Let us know if we can help out in any way by emailing <a href="mailto:support@opencollective.com">support@opencollective.com</a>.</p>

<p>Best,</p>
<p>Pía &amp; the Open Collective Team</p>

{{> footer}}
