Subject: Expenses on Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I noticed that no expenses have been submitted to {{collective.name}} yet.</p>

<p>You don’t have to wait until you have money to submit expenses. In fact, expenses are an effective way to let potential contributors know what they'll be funding.</p>

<p>Expenses can be for reimbursements of purchases or invoices to pay for people's time. When you submit an expense, you will be guided through the process step by step.</p>

<p>You can also invite someone to submit an expense. Fill out whatever details you have, and then they'll get an email inviting them to fill out the rest and confirm. This can make the process even easier for your contributors.</p>

<p>Key info:
<ul>
<li>Expenses are first approved by a Collective Admin, then processed for payment by your Fiscal Host, Open Source Collective.</li>
<li>Open Source Collective pays out expenses twice a week.
<li>If you don’t have enough funds yet, the expense will be paid once you do.</li>
<li>You can save your pay out details, so you won't have to fill them in next time.</li>
<ul/>

<p>If you’re looking for more expense ideas, read this: <a href="https://blog.opencollective.com/has-your-open-source-community-raised-money-heres-how-to-spend-it/">
  Has Your Open Source Community Raised Money? Here’s How to Spend It</a>.</p>

See our <a href="https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses">expenses documentation</a> for everything you need to know.
</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}/expenses/new" class="btn blue">
      <div>Submit an Expense</div>
    </a>
  </center>
</p>

<p>Let us know if you need any help.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
