Subject: How it all works and getting started

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>We’ll be sending you a couple emails with tips to help you get up and running.</p>

<p>Our top advice for you right now:

<ul>
<li>Fill in your "about" section and upload a logo and cover image by clicking on those sections of <a href="https://opencollective.com/{{collective.slug}}">your page</a>.</li>
<li>To help people find you, add tags (like "mutual aid", "open source", or "Chicago") in <a href="{{config.host.website}}/dashboard/{{collective.slug}}">your settings</a>.</li>
<li>It's time to start fundraising! Share the link to your page far and wide, and read more about <a href="https://docs.opencollective.foundation/how-it-works/financial-contributions">how people can donate</a>.</li>
<li>You can <a href="https://docs.opencollective.com/help/collectives/embed-contribution-flow">embed the contribution flow</a> on your own website, so people don't have to leave your page to donate to your Collective.</li>
<li>Wondering how to spend money and pay out from your balance? <a href="https://docs.opencollective.foundation/how-it-works/basics#submitting-expenses">Learn about Expenses</a>.
</ul>
</p>

<p>You’re welcome to ask us questions any time: <a href="https://slack.opencollective.com">join our Slack</a>, reply to this email, or better yet...</p>

<p>
  <center>
    <a href="https://calendly.com/openmike/ocf-onb" class="btn blue">
      <div>Book an onboarding call!</div>
    </a>
  </center>
</p>

<p>—the Open Collective Foundation Team</p>

{{> footer}}
