Subject: Important info and helpful tips

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>We hope you've had a chance to get set up and look around. How's it going so far?</p>

<p>Here are some more helpful tips:

<ul>
  <li><a href="https://docs.opencollective.com/help/collectives/communication">Updates</a> are a great way to tell your story. They go out as an email newletter and up as a blog post on your page. We'd love for you to post at least one a quarter! <a href="https://opencollective.com/foundation/updates">OCF's own Updates</a> are a great way to find out about new services and important announcements.</li>
  <li>Check out stories and case studies of diverse groups using the platform <a href="https://blog.opencollective.com">on the blog</a>. We'd love to feature a post about yours, too!</li>
  <li>Looking for our IRS determination letter, address, EIN, 990, or other official documents? <a href="https://docs.opencollective.foundation/about/official-information-and-documents">We've got you covered</a>.</li>
  <li>Keep in mind our <a href="https://docs.opencollective.foundation/how-it-works/processes-and-limitations">rules and policies</a> when it comes to things like non-US activity, political lobbying, contracts with third parties, in-person fundraising events, outside entities, and outside accounts.</li>
  <li>Did you know you can get a <a href="https://docs.opencollective.foundation/how-it-works/processes-and-limitations/virtual-cards-policy">virtual card</a> (like a debit card), <a href="https://docs.opencollective.foundation/what-we-offer/about-grantmaking">make grants</a>, get <a href="https://docs.opencollective.foundation/what-we-offer/liability-insurance">liability insurance</a>, and sign up for <a href="https://docs.opencollective.foundation/what-we-offer/emails">free email accounts</a> through OCF?
</ul>

<p>Come along to the next monthly open community forum, on Zoom every first Friday.

<p>
  <center>
    <a href="https://opencollective.com/foundation/events" class="btn blue">
      <div>Register now</div>
    </a>
  </center>
</p>

<p>Still need help? See <a href="https://docs.opencollective.foundation/faq/basic-faq">our FAQ</a> for answers to more of the top questions.</p> And remember, you're welcome to hit reply to email us, or <a href="https://discord.opencollective.com">join our Discord</a>!</p>

<p>—the Open Collective Foundation Team</p>

{{> footer}}
