Subject: Keep your community in the know.

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>I noticed that you haven't published any Updates yet. Updates are a great way to let everyone know what you've been up to, share exciting news, and let your contributors know what their generosity is enabling.</p>

<p>Engaging your community is often the key to a Collective's success. Share regular updates about your progress, and share the challenges, too. Your community wants to know how things are going!</p>

<p>Check out our <a href="https://docs.opencollective.com/help/collectives/communication">Updates and Communication documentation</a>, and let us know if you need any help.</p>

<p>
  <center>
    <a class="btn blue" href="https://docs.opencollective.com/help/collectives/communication">
      <div style="font-size: 15px;">Post an Update</div>
    </a>
  </center>
</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
