Subject: Engage your community on Open Collective

{{> header}}

<h1>Hello {{collective.name}} 👋</h1>

<p>Did you know we offer many features to better engage with your community and contributors?</p>

 <ul>
   <li> <a href="https://docs.opencollective.com/help/collectives/communication">Send an Updates</a>: Let everyone know what their support is enabling. Updates go out as an email and also show up like a blog post on your Collective page.</li>
   <li> <a href="https://docs.opencollective.com/help/collectives/conversations">Start a Conversation</a>: Like a message board or forum on your page, you can get feedback from your community or to organize your activities.</li>
   <li> <a href="https://docs.opencollective.com/help/collectives/integrations">Automate interactions</a>: Hook up Discord, Slack, or other tools your community uses, to automatically send thank you tweets or post updates in your chat.</li>
   <li> <a href="https://docs.opencollective.com/help/collectives/widgets">Website widgets</a>: Display your supporters, add a ‘donate’ button, or even <a href="https://docs.opencollective.com/help/collectives/embed-contribution-flow">embed the whole payment process</a>.</li>
</ul>

<p>Let us know if there’s anything we can do to help.</p>


{{> footer}}
