Subject: How can I help your Collective?

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>You created a Collective a while ago, and I'm wondering if you’d like any help to get it going. Managing a project and raising money can be challenging. We are here to support you!</p>

<p>Open Collective is collaborative and transparent. Check out some <a href="https://blog.opencollective.com/tag/case-studies/">Collective stories</a> to see how they're making their communities sustainable. You can reach out to any Collective by clicking their contact button—they may share insights!</p>

<p>Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://slack.opencollective.com">Slack</a>.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
