Subject: Happy one month Open Collective anniversary!

{{> header}}

<h1>🎂 {{collective.name}} 🎉</h1>

<p>You've been on Open Collective for a month! How are things going?</p>

<p>Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://discord.opencollective.com">Discord</a>.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>


{{> footer}}
