Subject: Engage your community on Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Did you know we offer many features to better engage with your community and contributors?</p>

<ul>
  <li> <a href="https://documentation.opencollective.com/getting-started/adding-and-removing-team-members">Invite your team</a>: Add admins, core contributors, and accountants with appropriate permissions so you're not doing everything alone.</li>
  <li> <a href="https://documentation.opencollective.com/advanced/keeping-your-community-updated/updates-and-contact">Send an Updates</a>: Let everyone know what their support is enabling. Updates go out as an email and also show up like a blog post on your Collective page.</li>
  <li> <a href="https://documentation.opencollective.com/collective-settings/integrations">Automate interactions</a>: Hook up Discord, Slack, or other tools your community uses, to automatically send thank you tweets or post updates in your chat.</li>
  <li> <a href="https://documentation.opencollective.com/collectives/raising-money/adding-donation-buttons-badges-and-banners">Website widgets</a>: Displaying your supporters on your external website, add a ‘donate’ button, or even <a href="https://documentation.opencollective.com/collectives/raising-money/adding-embeds-to-your-website">embed the whole payment process</a>.</li>
</ul>

<p>Let us know if there’s anything we can do to help! Please feel free to check our <a href="https://opencollective.com/help">help pages</a>" or to join our <a href="https://discord.opencollective.com">Discord</a>.</p>

<p>Best,</p>

<p>The Open Collective Team</p>

{{> footer}}
