Subject: Help us improve the Sponsor experience

{{> header}}

<h1>Hello {{collective.name}} 👋</h1>

<p>Hi! Thanks again for signing up your Organization to Open Collective.</p>

<p>We’re always seeking to improve our platform, so we're interested in your feedback!</p>

<p>Feel free to schedule a call with me (<a href="http://calendly.com/piamancini/call">schedule a call with me</a>), reply to this email, or <a href="https://slack.opencollective.com">join us on our Slack</a>.</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
