Subject: Happy one month Open Collective anniversary!

{{> header}}

<h1>🎂 {{collective.name}} 🎉</h1>

<p>You've been on Open Collective for a month! How are things going?</p>

<p>If you have any questions or feedback, <a href="http://calendly.com/piamancini/call">schedule a call with me</a>, reply to this email, me or <a href="https://slack.opencollective.com">join our Slack</a>. </p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>


{{> footer}}
