Subject: Get the Most out of Fiscal Hosting with OSC

{{> header}}

{{> greeting collective=collective}}

<p>In our last email, we introduced Open Collective's tools and how they can be used to engage your community and keep track of your Collective's finances. Now, let's dive deeper into how fiscal hosting with OSC can support your Collective, both inside and outside the Open Collective platform:</p>

<ul>
  <li><strong>Fund Management</strong><br/>
  OSC manages your funds so you can focus on your code and community.</li>
  
  <li><strong>Financial Reporting</strong><br/>
  We keep your finances organized, up-to-date, and transparent.</li>
  
  <li><strong>Expense Processing</strong><br/>
  Submit expenses for tools, services, or project work and get reimbursed directly. All expenses are visible on your Collective's page for transparency.</li>
  
  <li><strong>Guidance & Support</strong><br/>
  Do you need help with trademarks? Want to promote your upcoming event? Need a hand with managing your domains? Could you use help with attending a conference? Just ask!</li>
  
  <li><strong>Join Our Community</strong><br/>
  We host more than 2,500 other Collectives, giving you access to a vibrant network of open source projects and maintainers to connect with.
    <ul>
      <li><a href="https://opencollective.com/opensource">View OSC Collectives</a> here to see the other amazing projects under our umbrella</li>
      <li><a href="https://discord.opencollective.com">Join us on Discord</a>: OSC is part of the Open Collective Discord community, where you can connect with us, the OSC community, and the platform community more broadly.</li>
    </ul>
  </li>
</ul>

<p>Check out our documentation <a href="https://docs.oscollective.org/">here</a> to dive deeper into the above and discover additional resources.</p>

<p>As always, if you have questions or need assistance, we're here to help!</p>

<p>Warmly,</p>
{{> opensourceSignature}}

{{> footer}}
