Subject: Getting started with Open Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Welcome! I’m Pía, co-founder and CEO of Open Collective.</p>

<p>To help you get up and running, we’ll email you a few tips over the next week, then leave you to it. But you’re welcome to ask us questions any time.</p>

<p>Our top advice: Get your first financial contributors now! Reach out and ask your community to give you an initial boost. Share your Collective link on social media or wherever your community gathers.</p>

<p>Some helpful info:

<ul>
<li>Case studies and how-to guides <a href="https://blog.opencollective.com/tag/how-to/">on our blog.</a></li>
<li>See how <a href="https://opencollective.com/discover">other Collectives</a></li> are using the platform—they're all transparent!
<li>Here’s our <a href="https://docs.opencollective.com">documentation</a>, including a <a href="https://docs.opencollective.com/help/collectives/quick-start-guide">quick start guide</a></li>
</ul>
</p>

<p>Feel free to reach out by replying to this email, or join <a href="https://discord.opencollective.com">Discord</a>. We’re glad to have you with us!</p>

<p>
  <center>
    <a href="https://opencollective.com/{{collective.slug}}" class="btn blue">
      <div>Get Started!</div>
    </a>
  </center>
</p>

<p>Best,</p>

<p>Pía and the Open Collective Team</p>

{{> footer}}
