Subject: Connect a Twitter account to your Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>Did you know that you can connect your Twitter account to your Open Collective? It can really help increase engagement and awareness of your Collective.</p>

<p>Automatically send a thank you tweet to new financial contributors, like this:</p>

<p>
  <center>
    <a href="https://twitter.com/ErxesHQ/status/962682839430062080"><img src="https://d.pr/free/i/V9Ykl1+" width="320" /></a>
  </center>
</p>

<p>And a monthly stats tweet, like this:</p>

<p>
  <center>
    <a href="https://twitter.com/rootswp/status/960958572669652992"><img src="https://d.pr/free/i/HVw6Mj+" width="320" /></a>
  </center>
</p>

<p>
  <center>
    <a href="{{config.host.website}}/dashboard/{{collective.slug}}/connected-accounts" class="btn blue"><div>Connect Twitter</div></a>
  </center>
</p>

<p>Let us know if you have any questions. We are here to help you succeed!</p>

<p>Best,</p>

<p>Pía, and the Open Collective Team</p>

{{> footer}}
