Subject: Unlock More Tools on Open Collective with OSC

{{> header}}

{{> greeting collective=collective}}

<p>As your fiscal host, Open Source Collective (OSC) uses the Open Collective platform to help you manage finances, connect with your community, and achieve your goals. The platform offers powerful tools to engage supporters and streamline your Collective's activities:</p>

<strong>Ways to engage with your community or contributors:</strong>

<ul>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/communication">Send Updates</a>:</strong> Keep your community informed about the impact of their support. Updates go out via email and appear as blog posts on your Collective page.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/conversations">Start Conversations:</a></strong> Like a message board or forum on your page, you can get feedback from your community or to organize your activities.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/integrations">Automate Interactions:</a></strong> Hook up Discord, Slack, or other tools your community uses, to automatically send thank you messages or post updates in your chat.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/widgets">Website Widgets:</a></strong> Display your supporters, add a 'donate' button, or even <a href="https://docs.opencollective.com/help/collectives/embed-contribution-flow">embed the whole payment process</a>.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/events">Events:</a></strong> A great way to engage, online or offline. Ticket sales go to your Collective budget.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/connectedcollectives">Connected Collectives:</a></strong> Highlight other projects in your ecosystem also using Open Collective.</li>
</ul>

<strong>Manage your project's finances and goals:</strong>

<ul>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/budget">View your Budget:</a></strong> Keep track of your Collective's income and expenses.</li>
  <li><strong><a href="https://docs.opencollective.com/help/expenses-and-getting-paid/expenses">Expenses:</a></strong> The way to spend money! You can submit one yourself or <a href="https://docs.opencollective.com/help/expenses-and-getting-paid/submitting-expenses/nviting-a-third-party-to-submit-an-expense">invite someone else</a> to submit an expense.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/collective-settings/tiers-goals#tiers">Customize Contribution Tiers:</a></strong> Entice financial contributors by offering tailored options that align with your project's needs.</li>
  <li><strong><a href="https://docs.opencollective.com/help/collectives/collective-settings/tiers-goals">Goals:</a></strong> Let people know what you're aiming for and track progress. You can even create <a href="https://docs.opencollective.com/help/collectives/tiers-goals#force-standalone-page">standalone crowdfunding campaign pages</a>.</li>
</ul>

<p>Take a moment to explore these features and see how they can benefit your Collective!</p>

<p>If you have questions or need help using these tools, OSC is always here to assist, so please reach out if we can help at hello@oscollective.org.</p>

<p>Warmly,</p>
{{> opensourceSignature}}

{{> footer}}
