Subject: Action required: Submit tax form for {{{accountName}}}

{{> header}}

{{#if recipientName}}
<p>Hi {{recipientName}},</p>
{{else}}
<p>Hi,</p>
{{/if}}

<p>
  US regulations require US entities to collect certain information about payees for tax reporting purposes. The button below will take you to HelloWorks, the service we use to collect your tax information securely.
</p>

<div style="text-align: center; margin: 32px 0;">
  <a class="btn blue" href="{{documentLink}}">
    Submit tax form
  </a></div>
<p>
  <a href="https://docs.opencollective.com/help/expenses-and-getting-paid/tax-information">
    Questions? Learn more.
  </a>
</p>

{{> footer}}
