Subject: Thanks for buying a ticket to OPEN 2020

<p>Hi,</p>

<p>Thanks for buying a ticket to OPEN 2020</p>

<p>To join go to: <a href="https://open.coop/mainroom">https://open.coop/mainroom</a></p>

<p>Enter your name as per your ticket and the code: 944685</p>

<p>All event info is here: <a href=">https://open.coop/2020info">https://open.coop/2020info</p>

<p>See you online :)</p>

<p>Oli, Thomas and The Open Co-op team</p>
