Subject: Password Reset for Open Collective

{{> header}}

<center>
  <h2>Reset password</h2>
  <div>Click the button to reset your password. This link will expire after 24 hours.</div>

  <a href="{{resetUrl}}" data-token="{{resetToken}}">
    {{resetUrl}}
  </a>

</center>

{{> footer}}
